{{#each main-section}}
<article id="{{articleId}}" class="article-in-main-section">
    
    <h2>
        {{article-header}}
        {{#if isPersons}}<input type="submit" id="refresh-button" class="button" value="Refresh">{{/if}}
    </h2>
    {{#if isPersons}}
    <div id='table-space'>

    </div>
    {{/if}}
</article>
{{/each}}