<table id="interest-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Interest</th>
        </tr>
    </thead>
    <tbody>
        {{#each interests}}
        <tr>
            <td>{{interestId}}</td>
            <td>{{interest}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>