{{#each articles}}
<article id="{{articleId}}" class="article-in-main-section">

    <h2>
        {{articleHeader}}
        {{#if isPersons}}
        <input type="submit" id="persons-button" class="button" value="Persons">
        <input type="submit" id="interests-button" class="button" value="Interests">
        {{/if}}
    </h2>
    {{#if isPersons}}
    <div id='table-space'>

    </div>
    {{/if}}
</article>
{{/each}}