<table id="person-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {{#each persons}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>