// TODO wydziel inne scssy

$grey-1: rgb(105, 105, 105);
$grey-2: rgb(139, 139, 139);
$grey-3: rgb(150, 150, 150);
$grey-4: rgb(173, 173, 173);

$menubackgroundgrey: rgb(120, 120, 120);

$bluegrey-1: rgb(105, 105, 105);
$bluegrey-2: rgb(140, 140, 195);
$bluegrey-3: rgb(145, 145, 215);
$bluegrey-4: rgb(180, 180, 240);

$redgrey-1: rgb(105, 105, 105);
$redgrey-2: rgb(180, 115, 115);
$redgrey-3: rgb(200, 130, 130);
$redgrey-4: rgb(240, 180, 180);

$greengrey-1: rgb(105, 105, 105);
$greengrey-2: rgb(115, 180, 115);
$greengrey-3: rgb(130, 200, 130);
$greengrey-4: rgb(180, 240, 180);

$main-section-blue: rgb(205, 215, 255);

html {
    font-family: 'Poppins', sans-serif;
}

input {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 1.5em;
    color: whitesmoke;
}

[header-content]::before {
    content: attr(header-content);
}

#header-space {
    background-color: $menubackgroundgrey;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-header {
    animation: blink 9s ease-in-out 0s infinite,
        headerFadeIn 1s ease-out forwards;
}

@keyframes blink {
    0% {
        color: whitesmoke;
    }
    5% {
        color: $bluegrey-4;
    }
    10% {
        color: whitesmoke;
    }
    40% {
        color: whitesmoke;
    }
    45% {
        color: $greengrey-4;
    }
    50% {
        color: whitesmoke;
    }
    70% {
        color: whitesmoke;
    }
    75% {
        color: $redgrey-4;
    }
    80% {
        color: whitesmoke;
    }
}

@keyframes headerFadeIn {
    from {
        opacity: 0;
        margin-left: -100px;
    }
    to {
        opacity: 1;
        margin-left: 0px;
    }
}

p {
    font-size: 1em;
}

body {
    background-color: $grey-1;
}

#menu {
    background-color: $menubackgroundgrey;
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 50px;
        color: whitesmoke;
    }
    ul {
        list-style: none;
        display: flex;
        li {
            position: relative;
            width: 100%;
        }
    }
    .menu-link {
        background-color: $menubackgroundgrey;
        border-radius: 0 0 50% 50%;

        &:hover {
            transition: 0.3s ease-out;
            border-radius: 0;
        }
        &:not(:hover) {
            transition: 0.3s ease-in;
        }
    }
    #menu-send a {
        &:hover {
            background-color: $bluegrey-2;
        }
    }
    #menu-add {
        border: solid whitesmoke;
        border-width: 0 1px;
        a:hover {
            background-color: $greengrey-2;
        }
        li {
            background-color: $greengrey-2;
        }
        li a:hover {
            transition: 0.3s ease-out;
            background-color: $greengrey-3;
        }
        &:hover {
            .dropdown {
                animation: fadeIn 0.3s ease-in forwards;
                li {
                    display: block;
                }
            }
        }
    }
    #menu-delete {
        border: solid whitesmoke;
        border-width: 0 1px 0 0;
        a:hover {
            background-color: $redgrey-2;
        }
        li a {
            background-color: $redgrey-2;
        }
        li a:hover {
            transition: 0.3s ease-out;
            background-color: $redgrey-3;
        }
        &:hover {
            .dropdown {
                animation: fadeIn 0.3s ease-in forwards;
                li {
                    display: block;
                }
            }
        }
    }
    #menu-monitoring a {
        &:hover {
            background-color: $grey-3;
        }
    }
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    li {
        display: none;
        background-color: $bluegrey-2;
    }
    li:hover {
        transition: 0.3s;
        background-color: $bluegrey-3;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.85;
    }
}

#separator {
    width: 100%;
    height: 0px;
}

#main-section {
    display: flex;
    height: 550px;
    flex-direction: row;
    justify-content: space-between;
}

.blank-space {
    background-color: $menubackgroundgrey;
    height: 50px;
}

.article-in-main-section {
    background-color: $main-section-blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-basis: 33%;
    overflow: auto;
    border-radius: 0 0 10px 10px;
    opacity: 0.9;
    &:hover {
        transition: 0.3s linear;
        opacity: 1;
    }
    &:not(:hover) {
        transition: 0.3s linear;
    }
    * {
        padding-left: 10px;
    }
    label {
        font-size: 1.1em;
    }
    h2 {
        display: flex;
        justify-content: space-between;
        color: rgb(10, 31, 70);
        margin-top: 6px;
        font-size: 1.3em;
        flex-basis: 100%;
    }

    #name-input {
        font-size: 0.9em;
    }

    .button {
        text-decoration: none;
        padding: 2px 3px;
        background-color: rgb(24, 74, 168);
        color: whitesmoke;
        font-size: 0.9em;
        border: none;
        display: inline-block;
        cursor: pointer;
        &:hover {
            transition: 0.3s;
            background-color: rgb(47, 97, 191);
            border-radius: 3px;
        }
        &:not(:hover) {
            transition: 0.3s;
        }
    }

    #refresh-button {
        font-size: 0.7em;
        margin-right: 6px;
    }
}

.information-returned {
    flex-basis: 100%;
    margin: 5px 0px;
}

.error-returned {
    flex-basis: 100%;
    margin: 5px 0px;
    color: rgb(255, 51, 51);
}

#table-space {
    display: flex;
    flex-basis: 100%;
}

#person-table {
    table-layout: auto;
    width: 100%;
    flex-basis: 90%;
    margin: 0 5%;
    border-collapse: collapse;
    td,
    th {
        padding: 5px;
        text-align: left;
        border-width: 1px;
        border-color: $main-section-blue;
        border-style: solid;
    }
    tr:nth-child(even) {
        background-color: $grey-3;
    }
    tr {
        background-color: $grey-2;
        &:hover {
            transition: 0.6s;
            background-color: $grey-4;
        }
    }
    th {
        background-color: $grey-1;
        color: whitesmoke;
    }
}

#name-input {
    padding: 0px;
    margin: 0px 10px;
}
