<textarea type="text" id="message-input" placeholder="Type your mail here!"></textarea>
<div id="interest-checkbox-space"></div>
<input type="submit" id="{{buttonId}}" class="button" value="{{buttonValue}}">