.article-in-main-section {
	background-color: $main-section-blue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	flex-basis: 33%;
	overflow: auto;
	border-radius: 0 0 5px 5px;
	opacity: 0.9;
	&:hover {
		transition: 0.2s linear;
		border-radius: 0 0 20px 5px;
		opacity: 1;
	}
	&:not(:hover) {
		transition: 0.2s linear;
	}
	* {
		margin: 5px;
	}
	label {
		width: 25%;
		font-size: 1.1em;
	}
	select {
		margin: 0;
	}
	h2 {
		display: flex;
		justify-content: space-between;
		color: rgb(10, 31, 70);
		margin: 0;
		padding: 5px;
		font-size: 1.3em;
		flex-basis: 100%;
		border-bottom: $grey-2 solid 2px;

		.button {
			font-size: 0.7em;
			margin-right: 6px;
		}
	}

	input {
		margin-right: 20%;
		padding: 0 3px;
		font-size: 0.9em;
		border: 1px dimgray solid;
	}

	textarea {
		height: 90px;
		resize: vertical;
	}

	.button {
		text-decoration: none;
		margin: 0;
		padding: 2px 3px;
		background-color: $button-blue-1;
		color: white;
		font-size: 0.9em;
		border: none;
		display: inline-block;
		width: 125px;
		height: 27px;
		cursor: pointer;
		&:hover {
			transition: 0.3s;
			background-color: $button-blue-2;
			border-radius: 3px;
		}
		&:not(:hover) {
			transition: 0.3s;
		}
	}
}

#add-input-section {
	&:hover {
		background-color: $greengrey-4;
	}
	#submit-button,
	#interest-submit-button {
		background-color: $button-green-1;
		&:hover {
			background-color: $button-green-2;
		}
	}
}

#delete-input-section {
	&:hover {
		background-color: $redgrey-4;
	}
	#delete-button,
	#interest-delete-button {
		background-color: $button-red-1;
		&:hover {
			background-color: $button-red-2;
		}
	}
}

#send-input-section {
	&:hover {
		background-color: $bluegrey-4;
	}
}

.information-returned {
	flex-basis: 100%;
	margin: 0 0 5px 10px;
}

.error-returned {
	flex-basis: 100%;
	margin: 0 0 5px 10px;
	color: rgb(255, 51, 51);
}

#input-content-space {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	#interest-checkbox-space {
		display: flex;
		flex-basis: 100%;
		flex-wrap: wrap;
		margin: 0;
		.interest-checkbox {
			justify-content: flex-start;
			flex-wrap: wrap;
			margin: 3%;
		}
		.interest-checkbox-label {
			justify-content: flex-start;
			flex-wrap: wrap;
		}
		.checkbox-div {
			flex-basis: 25%;
		}
	}
}

#message-input {
	background-color: white;
	width: 70%;
	border: 1px dimgray solid;
	padding: 0 3px;
}

#send-button {
	align-self: flex-end;
}
