@import './scss/colors.scss';
@import './scss/main-section-style';
@import './scss/menu-style.scss';
@import './scss/table-style';

html {
	font-family: 'Poppins', sans-serif;
}

input,
select {
	font-family: 'Poppins', sans-serif;
}

p {
	font-size: 1em;
}

body {
	background-color: $grey-1;
	margin: 0px;
}

#main-section {
	display: flex;
	height: 550px;
	flex-direction: row;
	justify-content: space-between;
}

@import './multiselect-master/styles/multiselect.scss';
