html {
    font-family: Helvetica;
  }

  h1 {
    font-size: 1.3em;
    color: whitesmoke;
    font-style: italic;
  }
  
  #header-space {
    background-color: dimgray;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #main-header {
    animation: blink 3s linear 0s infinite, headerFadeIn 1.0s ease-out forwards;
    
  }

  @keyframes blink {
    0% {color: whitesmoke;}
    10% {color: rgb(164, 174, 177);}
    20% {color: whitesmoke;}
  }

  @keyframes headerFadeIn {
    from {opacity: 0.0; margin-left: -100px;}
    to {opacity: 1.0; margin-left: 0px;}
  }

  p {
    font-size: 1em;
  }

  body {
      background-color: dimgray;
  }
  
  .red {
    color: red;
  }


.menu * { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 50px;
  color: whitesmoke;
  font-weight: bold;
}

.menu-link {
  background-color: dimgray;
}

.menu-link:hover {
  transition: 0.6s;
  background-color: rgb(139, 139, 139);
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li {
  position: relative;
  width: 100%;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown li {
  display: none;
  opacity: 1.0;
  background-color: rgb(139, 139, 139);
}

.dropdown li:hover {
  transition: 0.6s;
  background-color: rgb(173, 173, 173);
}

#menu-add:hover .dropdown li,#menu-delete:hover .dropdown li {
  display: block;
  animation: fadeIn 0.6s ease-out forwards;
}

@keyframes fadeIn {
  from {opacity: 0.0;}
  to {opacity: 0.8;}
}

  #main-section {
    display: flex;
    height: 550px;
    flex-direction: row;
    justify-content: space-between;
  }

  .blank-space {
    background-color: dimgray;
    height: 50px;
  }
  .article-in-main-section label {
    font-size: 1em;
  }

  .article-in-main-section * {
    padding: 0px 10px;
  }

  .article-in-main-section {
    background-color: rgb(200, 219, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-basis: 33%;
    overflow: auto;
    border-radius: 15px;
  }

  .article-in-main-section h2{
    flex-basis: 100%;
  }

  .information-returned {
    margin: 5px 0px;
  }

  #person-table {
    margin: 0 5%;
    flex-basis: 90%;
    border-collapse: collapse;
  }

  #person-table td,#person-table th {
    padding: 5px;
    text-align: left;
    border-width: 1px;
    border-color: rgb(200, 219, 255);
    border-style: solid;
  }

  #person-table tr:nth-child(even) {
    background-color: rgb(150, 150, 150);
  }

  #person-table tr {
    background-color: rgb(139, 139, 139);
  }

  #person-table tr:hover {
    transition: 0.6s;
    background-color: rgb(173, 173, 173);
  }
  
  #person-table th {
    background-color: dimgray;
    color: whitesmoke;
  }