$grey-1: rgb(105, 105, 105);
$grey-2: rgb(139, 139, 139);
$grey-3: rgb(150, 150, 150);
$grey-4: rgb(173, 173, 173);

$menubackgroundgrey: rgb(120, 120, 120);

$bluegrey-1: rgb(105, 105, 105);
$bluegrey-2: rgb(140, 140, 195);
$bluegrey-3: rgb(145, 145, 215);
$bluegrey-4: rgb(200, 200, 255);

$redgrey-1: rgb(105, 105, 105);
$redgrey-2: rgb(180, 115, 115);
$redgrey-3: rgb(200, 130, 130);
$redgrey-4: rgb(255, 210, 210);

$greengrey-1: rgb(105, 105, 105);
$greengrey-2: rgb(115, 180, 115);
$greengrey-3: rgb(130, 200, 130);
$greengrey-4: rgb(210, 255, 210);

$main-section-blue: rgb(225, 225, 255);

$button-blue-1: rgb(24, 74, 168);
$button-blue-2: rgb(47, 97, 191);

$button-green-1: rgb(24, 168, 74);
$button-green-2: rgb(47, 191, 97);

$button-red-1: rgb(168, 24, 74);
$button-red-2: rgb(191, 47, 97);
