h1 {
    font-size: 1.5em;
    color: whitesmoke;
}

[header-content]::before {
    content: attr(header-content);
}

#header-space {
    background-color: $menubackgroundgrey;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-header {
    animation: blink 9s ease-in-out 0s infinite,
        headerFadeIn 1s ease-out forwards;
}

@keyframes blink {
    0% {
        color: whitesmoke;
    }
    5% {
        color: $bluegrey-4;
    }
    10% {
        color: whitesmoke;
    }
    40% {
        color: whitesmoke;
    }
    45% {
        color: $greengrey-4;
    }
    50% {
        color: whitesmoke;
    }
    70% {
        color: whitesmoke;
    }
    75% {
        color: $redgrey-4;
    }
    80% {
        color: whitesmoke;
    }
}

@keyframes headerFadeIn {
    from {
        opacity: 0;
        margin-left: -100px;
    }
    to {
        opacity: 1;
        margin-left: 0px;
    }
}

.blank-space {
    background-color: $menubackgroundgrey;
    height: 50px;
}

#menu {
    background-color: $menubackgroundgrey;
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 50px;
        color: whitesmoke;
    }
    ul {
        list-style: none;
        display: flex;
        li {
            position: relative;
            width: 100%;
        }
    }
    .menu-link {
        background-color: $menubackgroundgrey;
        border-radius: 0 0 50% 50%;

        &:hover {
            transition: 0.3s ease-out;
            border-radius: 0;
        }
        &:not(:hover) {
            transition: 0.3s ease-in;
        }
    }
    #menu-send a {
        &:hover {
            background-color: $bluegrey-2;
        }
    }
    #menu-add {
        border: solid whitesmoke;
        border-width: 0 1px;
        a:hover {
            background-color: $greengrey-2;
        }
        li {
            background-color: $greengrey-2;
        }
        li a:hover {
            transition: 0.3s ease-out;
            background-color: $greengrey-3;
        }
        &:hover {
            .dropdown {
                animation: fadeIn 0.3s ease-in forwards;
                li {
                    display: block;
                }
            }
        }
    }
    #menu-delete {
        border: solid whitesmoke;
        border-width: 0 1px 0 0;
        a:hover {
            background-color: $redgrey-2;
        }
        li a {
            background-color: $redgrey-2;
        }
        li a:hover {
            transition: 0.3s ease-out;
            background-color: $redgrey-3;
        }
        &:hover {
            .dropdown {
                animation: fadeIn 0.3s ease-in forwards;
                li {
                    display: block;
                }
            }
        }
    }
    #menu-monitoring a {
        &:hover {
            background-color: $grey-3;
        }
    }
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    li {
        display: none;
        background-color: $bluegrey-2;
    }
    li:hover {
        transition: 0.3s;
        background-color: $bluegrey-3;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.85;
    }
}
